<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" 
    [@animacao-banner]="estadoBanner">
      <p><app-banner></app-banner></p>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start" 
      [@animation-painel]="estadoPainel"
      (@animation-painel.start)="inicioAnimacao()"
      (@animation-painel.done)="fimAnimacao()"
      >
        <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
      </div>  
    </div>

    <ng-template #formLogin>
    <div 
      class="col-sm-6 d-flex justify-content-start" [@animation-painel]="estadoPainel"
      (@animation-painel.start)="inicioAnimacao()"
      (@animation-painel.done)="fimAnimacao()">
      <app-login (exibirPainel)="exibirPainel($event)"></app-login>
    </div>
    </ng-template>
   
  </div>
</div>